In [55]:
import pandas as pd
import word2vec as w2v
import nltk
import Stemmer

In [2]:
root = "/Users/nikita/Documents/python_3_filies/ML/mvideo/data/"
data = pd.read_csv(root + "X_train.csv", delimiter=",")

In [3]:
data.describe()

,sku,categoryLevel1Id,categoryLevel2Id,brandId,reting
count,1.558700e+04,15587.000000,1.558700e+04,15587.000000,15587.000000
mean,2.470460e+07,341.629435,3.427723e+06,444.753577,4.118496
std,1.028728e+07,119.478142,1.186588e+06,494.612637,1.316966
min,1.000027e+06,101.000000,1.010102e+06,1.000000,1.000000
25%,2.000459e+07,207.000000,2.070202e+06,48.000000,4.000000
50%,2.002190e+07,405.000000,4.050206e+06,93.000000,5.000000
75%,3.001108e+07,411.000000,4.110102e+06,787.000000,5.000000
max,5.004011e+07,701.000000,7.010101e+06,2159.000000,5.000000

In [4]:
data.corr()

,sku,categoryLevel1Id,categoryLevel2Id,brandId,reting
sku,1.000000,0.130009,0.144646,0.227148,0.018114
categoryLevel1Id,0.130009,1.000000,0.996477,0.069459,-0.050502
categoryLevel2Id,0.144646,0.996477,1.000000,0.089441,-0.048936
brandId,0.227148,0.069459,0.089441,1.000000,-0.040026
reting,0.018114,-0.050502,-0.048936,-0.040026,1.000000

In [5]:
data.head()

,sku,categoryLevel1Id,categoryLevel2Id,brandId,property,userName,reting,date,comment,commentNegative,commentPositive
0,20005023,401,4010201,826,"[{34: 'f982777489055c6563d68c005fd24aad'}, {36...",b2898a81b45310b30beb8fc0c0a9ce1e,2.0,2013-06-28,"2,5 года работала и все...устала! Лампочка гор...",NaN,NaN
1,20020647,403,4030101,1425,"[{34: '9ce895413ebdf6b6dcb69b07dc782591'}, {36...",538c73d64461e13907bb95c51c38bfbc,2.0,2010-07-04,Через 2 месяца после истечении гарантийного ср...,NaN,NaN
2,20020701,401,4010401,124,"[{34: '9ce895413ebdf6b6dcb69b07dc782591'}, {36...",ddca2d0101513a6209db7868eed8be05,4.0,2010-05-27,пользуюсь уже три недели. нареканий ни каких н...,NaN,NaN
3,30012256,203,2030301,93,"[{34: '9ce895413ebdf6b6dcb69b07dc782591'}, {36...",289c20015b3713a82ba5ddf774d996f7,5.0,2016-10-11,Ребят этот системный блок подойдёт для игры кс...,NaN,NaN
4,30011341,205,2050201,656,"[{34: '9ce895413ebdf6b6dcb69b07dc782591'}, {36...",5576f82d149d4f688644fef2322c63ef,5.0,2010-02-26,"я считаю, что яри замечательный телефон! Прият...",NaN,NaN

In [6]:
comments = data.comment
rating = data.reting

# train data preparation

In [17]:
text_pre = open(root + 'nik_texts_pre.txt')

In [18]:
text_pre = text_pre.read()

In [47]:
# так работает tokenizer для русского и не только)
test = 'Hi. How are u? norm.'#"Привет, как дела?\n хорошо\n\n hi."
tok = nltk.tokenize.toktok.ToktokTokenizer()
# токены слов
print(tok.tokenize(test))
# токины предложений
print(tok.tokenize_sents(tok.tokenize(test)))

['Hi.', 'How', 'are', 'u', '?', 'norm', '.']
[['Hi', '.'], ['How'], ['are'], ['u'], ['?'], ['norm'], ['.']]

In [ ]:
# прочитай обязятельно про это - nltk.scikitlearn

In [48]:
words_pre = tok.tokenize(text_pre)

In [87]:
def stem_words(words):
    stemmer = nltk.stem.SnowballStemmer('russian')
    l = len(words)
    for i, word in enumerate(words):
        words[i] = stemmer.stem(word)
        if (i % 100000) == 0: print('procces: ', int(i/l), '%')
    print('finish \n')

In [88]:
len(words_pre)

1581652

In [90]:
# осторожно, занимает много времени
# words_pre_stemmed = stem_words(words_pre)

# обучение w2v